html{
    background-color: black;
    
}

ul {
    list-style-type: none;
    display:flex;
    flex-direction: row ;
    justify-content: space-around;
    margin:0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height:60px;
    text-align: center;
}

.nav-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;

}
.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height:100%;
}

.nav-item {
    margin:10px;
    width:100%;
    height:100%;

}

a{
    text-decoration: none;
    color:white;

}
a:hover {
    color: rgb(218, 64, 218)
}



/* about */

.statement-container{
    margin-top: 100px;
    background-color: rgba(107, 57, 225, 0.5);
    height: 100px;
    display: flex;
    justify-content: center;
}

/* amenities */

.wrap-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 5%;
    margin-top: 5%;

}

.wrappper {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 30px;

}
.box{
    object-fit: cover;
    max-width: 300px;
    height:300px;
    background-color: rgba(30, 124, 240, 0.5);
}
.grid-image {
    object-fit: cover;
    max-width: 300px;
    
    height: auto;
}

.grid-text {
    text-align: center;
}

.statement-container{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 10px 20px rgb(4, 0, 255) inset;
  
  color:white;
  font-size: 20px;
  border-radius: 5px;
  height: 100%;



}