
html{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
.out{
    margin-top:200px;
    margin-bottom:40px;
    display: flex;
    justify-content: center;
    color:white;
   
}
.return {
    margin-top: 40px;
    font-size: 30px;
}